* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    position: relative;
    border: 3px solid lightgreen;
    border-radius: 26px;
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgreen;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.5s all;
    flex-direction: column;
    overflow: hidden;
    p {
        position: absolute;
        transition: 1s;
    }
    .check {
        margin-top: 150%;
    }
}

input[type="checkbox"]:checked + label {
    width: 100px;
    border-radius: 50%;
    background-color: lightgreen;
    color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    .check {
        margin: 0;
    }
    .unchecked {
        margin-bottom: 250%;
    }
}
