* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #161616;
}

input{
    display: none;
}

label {
    height: 100px;
    width:  300px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.3s linear;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.3s linear;
}

i {
    font-size: 30px;
}

.fa-add {
    transition: 0.3 ease;
    display: none;
}

.line {
    height: 80%;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.4);
}

.fa-remove {
    transition: 0.3s linear;
}

label:hover {
    position: relative;
    transform: scale(1.10);
    a {
        position: absolute;
        margin-bottom: 100%;
    }
    .line {
        display: none;
    }
    .fa-remove {
        align-self: center;
    }
}

input[type="checkbox"]:checked ~ label{
    background-color: green;
    a {
        display: none;
    }
    .line {
        display: none;
    }
    .fa-remove {
        display: none;
    }
    .fa-add {
        display: block;
    }
}