* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
}
button {
    padding: 15px 40px;
    border-radius: 16px;
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    color:  white;
    font-size: 20px;
    background-color: #fff;
}
button::after {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    top: 0;
    left: 0;
    border-radius: 10px;
}
button::before {
    content: "";
    background: linear-gradient(
        45deg,
        #F08080,#F4978E ,#0D1F2D,#546A7B,
        #32533D,#93032E,#542344, #352208
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;

    }
    100% {
        background-position: 0 0;
    }
}

button:hover::before {
    opacity: 1;
}

button:active::after {
    background-color: transparent;
}